/**********************************
GENERAL
***********************************/


/**********************************
NAVIGATION 
***********************************/



/**********************************
HEADER
***********************************/



footer{
    background:#eee;
}

.thumbnail{
  background-color:black;
  background-size:cover;

}
body{
    background-color:#121012;
}

.portrait_name{
    background: rgba(230, 230, 230, 0.7);
    background:url;
}
 p{
    color:#00D3FF;
}
h3{
    color:white;
}
footer{
    background-color:black;
}

body > nav{
  background:;
  border:none;
}
h1{
    color:white;
}